@model SistemaAcademia.Models.ViewModels.ManutencaoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Manutencao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Manutencao.Id" />
            <div class="form-group">
                <label asp-for="Manutencao.Tipo" class="control-label"></label>
                <select asp-for="Manutencao.Tipo" class="form-control" asp-items="Html.GetEnumSelectList<EnumTipoManutencao>()"></select>
                <span asp-validation-for="Manutencao.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manutencao.Data" class="control-label"></label>
                <input asp-for="Manutencao.Data" class="form-control" disabled/>
                <span asp-validation-for="Manutencao.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manutencao.Tecnico" class="control-label"></label>
                <input asp-for="Manutencao.Tecnico" class="form-control" />
                <span asp-validation-for="Manutencao.Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manutencao.Observacao" class="control-label"></label>
                <input asp-for="Manutencao.Observacao" class="form-control" />
                <span asp-validation-for="Manutencao.Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manutencao.Custo" class="control-label"></label>
                <input asp-for="Manutencao.Custo" class="form-control" />
                <span asp-validation-for="Manutencao.Custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manutencao.EquipamentoId" class="control-label"></label>
                <select asp-for="Manutencao.EquipamentoId" class="form-control" asp-items="@(new SelectList(Model.Equipamentos, "Id", "Nome"))"> </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
