@model SistemaAcademia.Models.ViewModels.PagamentoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pagamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pagamento.Id" />
            <div class="form-group">
                <label asp-for="Pagamento.NumeroRecibo" class="control-label"></label>
                <input asp-for="Pagamento.NumeroRecibo" class="form-control" />
                <span asp-validation-for="Pagamento.NumeroRecibo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento.Valor" class="control-label"></label>
                <input asp-for="Pagamento.Valor" class="form-control" />
                <span asp-validation-for="Pagamento.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento.Forma" class="control-label"></label>
                <input asp-for="Pagamento.Forma" class="form-control" />
                <span asp-validation-for="Pagamento.Forma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento.Data" class="control-label"></label>
                <input asp-for="Pagamento.Data" class="form-control" />
                <span asp-validation-for="Pagamento.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento.AlunoId" class="control-label"></label>
                <select asp-for="Pagamento.AlunoId" class="form-control" asp-items="@(new SelectList(Model.Alunos, "Id", "Nome"))"> </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
