@model SistemaAcademia.Models.ViewModels.InscricaoAulaFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InscricaoAula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InscricaoAula.Id" />
            <div class="form-group">
                <label asp-for="InscricaoAula.DataInscricao" class="control-label"></label>
                <input asp-for="InscricaoAula.DataInscricao" class="form-control" disabled />
                <span asp-validation-for="InscricaoAula.DataInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoAula.AlunoId" class="control-label"></label>
                <select asp-for="InscricaoAula.AlunoId" class="form-control" asp-items="@(new SelectList(Model.Alunos, "Id", "Nome"))"></select>
                <span asp-validation-for="InscricaoAula.AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoAula.AulaId" class="control-label"></label>
                <select asp-for="InscricaoAula.AulaId" class="form-control" asp-items="@(new SelectList(Model.Aulas, "Id", "Nome"))"></select>
                <span asp-validation-for="InscricaoAula.AulaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
